<nav class="header">
    <div class="h-left">
        <h1>Otaniemen lukio</h1>
        <h2>{{ date_info.date }}</h2>
    </div>
    <div class="h-right">
        <h1>klo {{ date_info.time }}</h1>
    </div>
</nav>
<div class="left">
    <div class="data">
        <div class="hsl-screen tram">
            <div class="header">
                <h1>Aalto-yliopisto (M)</h1>
                <h1>Lähtee</h1>
            </div>
            {% for stop in tram %}
                <div class="slot {{ stop.in_time_window }} ">
                    <div class="s-left">
                        <h1>{{ stop.full_name }}</h1>
                    </div>
                    <div class="s-right">
                        <div class="r-left">
                            <h3>{{ stop.relative_departure }}</h3>
                        </div>
                        <div class="r-right">
                            {% if stop._inner.arrival_delay > 30 %}
                                <h2 class="late">~ {{ stop.scheduled_arrival}}</h2>
                                <p>~ {{ stop.realtime_departure }}</p>
                            {% else %}
                            <h2>~ {{ stop.realtime_departure }}</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="middle">
    <div class="data">
        <div class="hsl-screen metro">
            <div class="header">
                <h1>Aalto-yliopiston metroasema</h1>
                <h1>Lähtee</h1>
            </div>
            {% for stop in metro %}
            <div class="slot {{ stop.in_time_window }} ">
                    <div class="s-left">
                        <h1>{{ stop.full_name }}</h1>
                    </div>
                    <div class="s-right">
                        <div class="r-left">
                            <h3>{{ stop.relative_departure }}</h3>
                        </div>
                        <div class="r-right">
                            {% if stop._inner.arrival_delay > 30 %}
                                <h2 class="late">~ {{ stop.scheduled_arrival}}</h2>
                                <p>~ {{ stop.realtime_departure }}</p>
                            {% else %}
                            <h2>~ {{ stop.realtime_departure }}</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="right">
    <div class="data">
        <div class="hsl-screen bus">
            <div class="header">
                <h1>Aalto-yliopisto (M)</h1>
                <h1>Lähtee</h1>
            </div>
            {% for stop in bus %}
            <div class="slot {{ stop.in_time_window }} ">
                    <div class="s-left">
                        <h1>{{ stop.full_name }}</h1>
                    </div>
                    <div class="s-right">
                        <div class="r-left">
                            <h3>{{ stop.relative_departure }}</h3>
                        </div>
                        <div class="r-right">
                            {% if stop._inner.arrival_delay > 30 %}
                                <h2 class="late">~ {{ stop.scheduled_arrival}}</h2>
                                <p>~ {{ stop.realtime_departure }}</p>
                            {% else %}
                                <h2>~ {{ stop.realtime_departure }}</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>